

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header start */
.header{
    height: 56px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    padding-left: 1%;
    display: flex;
}

.menu-bar img{
    padding: 16px 10px;
}

.logo img{
    float: left;
    height: 24px;
    width: 80px;
    padding: 16px 16px;
}


.search-bar{
   margin: 0 10%;
   display: flex;
   flex: 1;
   /* animation: extend .5s; */
}

.search-input{
    width: 100%;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding: 0 5px;
    /* animation: searchSmaller 0.5s; */
}

.keyboard-btn{
   
    border:1px solid #777;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
}

.search-btn{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F8F8F8;
    border: 1px solid #777;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover{
    background-color: #f0f0f0;
}


.nav-container{
    margin: 0;
    float: right;
    align-self: auto;
    height: 56px;
    margin-right: 16px;
}

#nav, .sub-nav{
    list-style-type: none;
    padding-left: 0 ;
}


#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li a{
    display: block;
    padding: 0 8px;
}

#nav li:hover .sub-nav{
    display: block;
}

#nav .sub-nav{
    display: none;
    background-color: #F8F8F8;
    color: black;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    
    min-width: 160px;
    padding: 0;
}

#nav #nav-noti{
    right: 0;
}

#nav .sub-nav a{
    color: black;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
}

.hide{
    display: none !important;
}
/* header end */

/* side bar */

.sidenav {
    height: 100%;
    margin-top: 56px;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: scroll;
    padding-top: 10px;
  }

  .small-sidenav{
      width: 74px;
  }

 .sidenav .sidenav-option{
      display: flex;
      width: 100%;
  }

  .sidenav-option img{
      padding: 10px 24px;
  }

  
  
  .sidenav-option a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 14px;
    color:black;
    display: block;
  }

  

  .sidenav .sidenav-option:hover {
    color: #f1f1f1;
    font-weight: bolder;
    background-color: #AAA;
  }


/* main sec */
.videos{
    background-color: rgb(250, 250, 250);
     margin-left: 240px;
     /* z-index: 1; */
}

.big-container{
    margin-left: 74px;
}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem 1rem;
    padding: 1rem 0;
    margin: 0 1rem;
    margin-top: 52.5px;
    border-top: 4px solid #ccc;
}

.video-section:first-child{
    border-top: none;
}

.video-container{
    display: flex;
    flex-direction: column;
}

.thumbnail{
    display: flex;
    position: relative;
}

.thumbnail::before{
    position: absolute;

}

.thumbnail-img{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}

.channel-icon{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
    margin-right: .75rem;
}
.video-bottom-section{
    margin: .75rem;
    margin-left: 0;
    display: flex;
    align-items: flex-start;
}

.video-detail{
    display: flex;
    flex-direction: column;
    contain: content;
    width: 100%;
}

.video-title{
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: .05rem;
    text-decoration: none;
    color: black;
    white-space: wrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis; 
}

.video-channel-name{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #777;
    font-size: .9rem;
}

.video-channel-name:hover{
    color: #555;
}

.video-data{
    font-size: .9rem;
    color: #777;
}

.video-section-title{
    grid-column-start: 1;
    grid-column-end: -1;
}

@media screen and (max-width:1075px){
    .search-bar{
        margin: 0 10px;
        /* animation: searchSmaller 3s; */
    }
}

@media screen and (max-width:660px){
    .search-input{
        display: none;
    }
    .keyboard-btn{
        display: none;
    }
    .search-btn{
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
    }
    .search-bar{
        display: unset;
        flex: none;
    }
}


/* @media screen and (max-width:900px) {
    .videos{
        margin-left: 72px;
    }
    .sidenav {
        height: 100%;
        margin-top: 56px;
        width: 72px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: scroll;
        padding-top: 10px;
      }

    .sidenav-option a{
        display: none;
    }


} */

@keyframes searchSmaller {
    from{
        margin: 0 200px;
    }
    to{
        margin: 0 10px;
    }
}

